
* {
	box-sizing: border-box;
	font-family: Tahoma;
	font-size: 1rem;
}

h1 {
	font-size: 1.7rem;
}

#popup {
	width: 20rem;
	padding: 1rem;
	background: #f0f0f0;
}

.header-text {

}

.content {
	padding: 2rem 1rem 1rem 1rem;

}


button {
	display: inline-block;
	padding: 0.7rem 1rem;
	margin: 1rem 0;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #4CAF50;
	color: white;
}


.hide {
	display: none;
}


.btn-text {
	padding: 0;
	color: #0693e3;
	text-decoration: underline;
	cursor: pointer;
}

.btn-text:hover {
	color: #0b4f6c;
}
